.content{
    padding-top: 30px;
}
/*左边分类*/
.indexLeft .types{
    background-color: white;
}
.indexLeft .types li{

}
.indexLeft .types li a{
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #EEF6FA;
}
/*首页模块*/
.index-box{
    margin-bottom: 30px;
}
.index-box-title{
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    border-left: 5px solid #29A1FF;
    text-indent: 1em;
    margin-bottom: 30px;
}
.index-box-content{

}
.index-box-content li{
    padding: 2px;
}
.index-box-content li .good-content{
    background-color: white;
    overflow: hidden;
    padding: 10px;
}
.index-box-content li .good-content img{
    width: 100%;
}
.index-box-content li .good-content .name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    padding: 5px 0;
    font-size: 14px;

}
.index-box-content li .good-content .price{
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
    color: #d9534f;
}